<a href="https://colab.research.google.com/github/WilliamHackspeare/Legal_Data_Analysis/blob/main/Legal_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%cd /content/drive/MyDrive/legal_data

/content/drive/MyDrive/legal_data

In [3]:
!ls

acts_sections  cases  cases_2010_v2.csv  judges_clean  keys

In [4]:
import pandas as pd
import numpy as np

In [5]:
cases_2010 = pd.read_csv('cases/cases_2010.csv')

In [6]:
iter_as = pd.read_csv('acts_sections/acts_sections.csv',iterator=True,chunksize=1000000)
acts_sections = pd.concat([chunk[chunk['ddl_case_id'].isin(cases_2010['ddl_case_id'])] for chunk in iter_as])

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
acts_sections = acts_sections.astype(str)

In [8]:
acts_sections.describe()

,ddl_case_id,act,section,bailable_ipc,number_sections_ipc,criminal
count,2190872,2190872,2190872,2190872,2190872,2190872
unique,2190872,6092,112198,6,27,2
top,01-09-02-203003037042010,17353.0,nan,nan,nan,0
freq,1,680495,245507,1735665,1510377,1353458

In [9]:
acts_sections['bailable_ipc'].value_counts()

nan                          1735665
bailable                      249281
non-bailable                  176019
not applicable to section      15688
depends                        12819
unclear, need to check          1400
Name: bailable_ipc, dtype: int64

In [10]:
disp_key = pd.read_csv('keys/disp_name_key.csv')
disp_key = disp_key[disp_key['year']==2010]
purp_key = pd.read_csv('keys/purpose_name_key.csv')
purp_key = purp_key[purp_key['year']==2010]

In [11]:
cases_2010.dropna(inplace=True)

In [12]:
disp_key = disp_key.astype(str)
purp_key = purp_key.astype(str)

In [13]:
 cases_2010 = cases_2010.astype(str)

In [14]:
disp_key.describe()

        year disp_name disp_name_s  count
count     51        51          51     51
unique     1        51          51     51
top     2010         1    258 crpc  15765
freq      51         1           1      1

In [15]:
cases_2010.describe()

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
count,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518,3298518
unique,3298518,1,31,75,65,3293058,415,4,4,4,4,5092,4604,51,365,4163,4422,4121,4344
top,01-01-01-200308002162010,2010,1,1,1,TNSA010008922010,district and sessions court,0 male,-9998 unclear,-9999,-9999,682,1963.0,22,2010-09-13,2014-12-06,2010-12-11,2010-12-11,2014-12-06
freq,1,3298518,760617,168347,626891,3,641834,2219700,1472001,2410238,1388855,274408,466661,498930,17171,27890,11891,11740,23142

In [16]:
cases_2010 = cases_2010.merge(acts_sections)
cases_2010 = cases_2010.merge(disp_key,on='disp_name')
cases_2010 = cases_2010.merge(purp_key,on='purpose_name')

In [17]:
cases_2010['female_defendant'].value_counts()

0 male                1152083
-9998 unclear          315893
1 female               207475
-9999 missing name      22813
Name: female_defendant, dtype: int64

In [18]:
cases_2010['female_petitioner'].value_counts()

-9998 unclear         838841
0 male                615470
1 female              231961
-9999 missing name     11992
Name: female_petitioner, dtype: int64

In [19]:
cases_2010['date_first_list'].value_counts()

2010-12-11    6492
2010-12-20    5141
2010-11-29    5068
2010-11-30    4762
2010-11-22    4748
              ...
2008-09-01       1
2009-09-05       1
2006-12-13       1
2009-04-07       1
2009-02-25       1
Name: date_first_list, Length: 3945, dtype: int64

In [20]:
cases_2010['date_last_list'].value_counts()

2010-12-11    6442
2014-12-06    3611
2016-10-08    3422
2011-11-19    3345
2017-02-11    3329
              ...
2004-02-04       1
2009-01-28       1
2004-01-21       1
2020-08-03       1
2020-03-31       1
Name: date_last_list, Length: 3905, dtype: int64

In [21]:
cases_2010['date_of_filing'].value_counts()

2010-09-13    10501
2010-12-23     8469
2010-12-20     8385
2010-11-29     8272
2010-07-12     8186
              ...
2010-03-14      173
2010-02-14      169
2010-07-11      166
2010-01-31      153
2010-08-15      148
Name: date_of_filing, Length: 365, dtype: int64

In [22]:
cases_2010['date_of_decision'].value_counts()

2014-12-06    8460
2010-12-11    8350
2011-02-06    8031
2012-03-04    7680
2013-11-23    7398
              ...
0211-10-14       1
2009-09-09       1
2020-03-25       1
2009-05-13       1
2020-03-31       1
Name: date_of_decision, Length: 3907, dtype: int64

In [23]:
len(cases_2010['date_first_list'].loc[1])

10

In [24]:
for d in cases_2010.columns:
  if 'date' in d:
    cases_2010 = cases_2010[cases_2010[d].apply(lambda x: len(str(x)))==10]

In [25]:
cases_2010.describe()

,ddl_case_id,year_x,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,...,section,bailable_ipc,number_sections_ipc,criminal,year_y,disp_name_s,count_x,year,purpose_name_s,count_y
count,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264,...,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264,1698264
unique,1698264,1,31,75,64,1697352,393,4,4,4,...,91879,6,27,2,1,51,51,1,3112,607
top,01-01-01-200308002162010,2010,1,23,1,BRMB100001552010,district and sessions court,0 male,-9998 unclear,-9999,...,nan,nan,nan,0,2010,acquitted,406015,2010,judgement,495331
freq,1,1698264,616004,87170,339501,2,316764,1152083,838841,1193144,...,185617,1382312,1213222,1081458,1698264,227610,227610,1698264,223480,223480

In [26]:
for d in cases_2010.columns:
  if 'date' in d:
    cases_2010[d] = pd.to_datetime(cases_2010[d], errors='coerce').dt.date

In [27]:
cases_2010.dropna(inplace=True)

In [ ]:
cases_2010.describe()

In [ ]:
cases_2010['judge_position'].value_counts()

In [ ]:
for d in cases_2010.columns:
  if 'female' in d:
    cases_2010 = cases_2010[~cases_2010[d].str.contains('-9998|-9999')]

In [ ]:
cases_2010.describe()

In [ ]:
cases_2010['judge_position'].value_counts()

In [ ]:
sum(cases_2010['cino'].value_counts()==1)

In [ ]:
cases_2010.drop(columns=['ddl_case_id','year','year_x','year_y','cino','count_x','count_y','purpose_name','disp_name'],inplace=True)

In [ ]:
cases_2010.describe()

In [ ]:
cases_2010['court_id'] = cases_2010['state_code']+'-'+cases_2010['dist_code']+'-'+cases_2010['court_no']

In [ ]:
cases_2010.describe()

In [ ]:
cases_2010.drop(columns=['state_code','dist_code','court_no'],inplace=True)

In [ ]:
cases_2010.describe()

In [ ]:
cases_2010_v2 = cases_2010.astype('category')

In [ ]:
cases_2010_v2.describe()

In [ ]:
from scipy.stats import chi2_contingency
import seaborn as sns

def chitest(a,b):
  return chi2_contingency(pd.crosstab(index=a,columns=b))[1]

pd.DataFrame([chi2_contingency(pd.crosstab(index = cases_2010_v2[a],columns=cases_2010_v2[b])) for b in cases_2010_v2.columns for a in cases_2010_v2.columns],index=cases_2010_v2.columns,columns=cases_2010_v2.columns)

In [ ]:
chi2_contingency(pd.crosstab(index = cases_2010_v2['female_petitioner'],columns=cases_2010_v2['female_defendant']))